<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
    <label for="Minimum">
      Minimum
    </label>
    <input id="Minimum" type="text" name="minimum">
  </div>
  <div>
    <label for="Maximum">
      Maximum
    </label>
    <input id="Maximum" type="text" name="maximum">
  </div>
  <button>Pick random number</button>
  </form>
